$input-color: #efeeed;
$input-focus: #333333;
$input-border: #efeeed;
$input-invalid:  #eb4a46;
$input-invalid-border: #eb4a46;

// button settings
$btn-enabled-color: #00c8b3;
$btn-enabled-text: #ffffff;
$btn-enabled-hover: 0.7;

$btn-disabled-color: #f6f6f6;
$btn-disabled-text: #dddcdc;

