@import './components/_input.scss';
@import './components/_button.scss';
@import './components/_list.scss';
@import './variable.scss';

* {
  font-family: 'Ubuntu';
  // color: $btn-enabled-color;
}
a, li, ul {
  list-style: none;
  padding: 0px;
}

.form-section, .user-section {
  width: 450px;
  margin: 0 auto;
}

h1, strong  {
  color: $btn-enabled-color
}