@import './components/_input';
@import './components/_button';
@import './components/_list';
@import './components/_loader';
@import './fonts';
@import './mixins';
@import './reset';
@import './variable';


* {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
a, li, ul {
  list-style: none;
  padding: 0px;
}

.form-section, .user-section {
  width: 450px;
  margin: 0 auto;
  @include for-phone-only {
    max-width: 300px;
    margin: 0 auto;
  }
}

h1 {
  color: $btn-enabled-color;
  text-align: center;
  margin: 0px;
  padding: 20px 0px;
}