.user-section-list {
  &_item {
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
    &__persona, &__info, &__actions {
      span {
        display: block;
        margin-bottom: 5px;
        :first-child {
          padding-right: 5px;
          font-weight: bold;
        }
        em {
          font-style: normal;
        }
      }
    }
  }
}